body{
    background-color: rgb(199, 199, 113);
}
#title{
	text-align: center; 
	margin: auto;
    font-size: 80px;
    font-weight: bolder;
}
#subtitle{
	text-align: center; 
	margin: auto;
    font-size: 30px;
    font-weight: bolder;
}
.content404{
    text-align: center; 
	margin: auto;
    font-size: 20px;
    color: red;
}
#currenturl{
    color: aqua
}
#navtitle{
    text-align: center; 
	margin: auto;
    font-size: 20px;
}
.nav{
    text-align: center; 
	margin: auto;
    font-size: 15px;
}