.banner{
    position: fixed;
    top:0px auto;
    width: 100%;
    background-color:rgba(197, 180, 103, 0.527);
    height: 50px;
    text-align: left;
    line-height: 50px;
    padding-left: 5px;
}
#banner-text{
    vertical-align: middle;
    margin-right: 50px;
    font-size: large;
    display: inline-block;
}
#banner-logo{
    margin-right: 100px;
}
.banner-contents{
    vertical-align: middle;
}
.banner-contents:hover{
    cursor: pointer;
    color: blueviolet;
    font-size: larger;
    font-weight: bolder;
}